/* ===========================
   ====== Search Box ====== 
   =========================== */

.search {
  
  border: 1px solid #8f8f8f;
  overflow: auto;
  border-radius: 15px;
  -webkit-border-radius: 15px;
 
}
.search-form{
    display: flex;

}

.search input[type="text"] {
  border: 0px;
  width: 80%;
  min-width: 300px;
  padding: 5px 10px;
 background-color: #8f8f8f00;
}

.search input[type="text"]:focus {
  outline: 0;
  background-color: rgb(255, 255, 255);
  max-width: 350px;
}

.search input[type="submit"] {
  border: 0px;
  background: none;
    float: right;
  padding: 10px;
  
  -moz-border-radius-top-right: 5px;
  -webkit-border-radius-top-right: 5px;

  -moz-border-radius-bottom-right: 5px;
  -webkit-border-radius-bottom-right: 5px;
  cursor: pointer;
}

/* ===========================
      ====== Medua Query for Search Box ====== 
      =========================== */

@media only screen and (min-width: 150px) and (max-width: 780px) {
  .search {
    width: 95%;
    margin: 0 auto;
  }
  .search input[type="text"] {
    border: 0px;
    width: 85%;
   
  }


}
